
.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginCard {
  border: 1px solid white;
  height: 400px;
  width: 600px;
  border-radius: 15px;
  box-shadow: 15px 14px 78px white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.email,  .password, .submitButton  {
  width: 300px;
  height: 40px;
  padding: 5px;
  border-radius: 15px; 
  outline: none;
  font-size: 16px;
  border: none;
}

.submitButton {
  background-color: navy;
  color: white;
  outline: none;
  border: none;
}

.submitButton:hover {
  cursor: pointer;

}